@import '../variables.module.scss';

.WorkSec {
    .WorkBg {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px) brightness(0.1);
        -webkit-backdrop-filter: blur(30px) brightness(0.1);
        @include padding(40px, 30px, 20px, 30px);
        border-radius: 5px;
        position: relative;

        &:after {
            content: '';
            background-image: url(../../public/home/services/bgServices.webp);
            filter: blur(30px) brightness(1);
            position: absolute;
            top: 0px;
            left: 0px;
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .WorkBox {
            margin-top: 50px;

            .workItem {
                text-align: center;
                @include padding (20px, 10px);
                height: 350px;
                border: 1px solid transparent;
                border-radius: 5px;
                @include transition(all);

                &:hover {
                    border: 1px solid #ffffff2a;
                    background: #ffffff13;
                    @include transition(all);
                }

                .workIcon {
                    margin-bottom: 20px;
                }

                P {
                    height: 150px;
                    overflow: auto;
                    padding-right: 0px;

                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .WorkSec {
        .WorkBg {
            @include padding(40px, 30px, 20px, 30px);
            border-radius: 5px;
            position: relative;

            .WorkBox {
                margin-top: 50px;

                .workItem {
                    text-align: center;
                    @include padding (20px, 10px);
                    height: 350px;

                    P {
                        height: 150px;
                        overflow: auto;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .WorkSec {
        .WorkBg {
            @include padding(30px, 30px, 20px, 30px);
            border-radius: 5px;
            position: relative;

            .WorkBox {
                margin-top: 50px;

                .workItem {
                    text-align: center;
                    @include padding (20px, 10px);
                    height: 350px;

                    P {
                        height: 150px;
                        overflow: auto;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .WorkSec {
        .WorkBg {
            @include padding(20px, 25px, 20px, 25px);
            border-radius: 5px;
            position: relative;

            .WorkBox {
                margin-top: 50px;

                .workItem {
                    text-align: center;
                    @include padding (20px, 10px);
                    height: 350px;

                    P {
                        height: 150px;
                        overflow: auto;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .WorkSec {
        .WorkBg {
            @include padding(20px, 25px, 20px, 25px);
            border-radius: 5px;
            position: relative;

            .WorkBox {
                margin-top: 50px;

                .workItem {
                    text-align: center;
                    @include padding (20px, 10px);
                    height: 350px;

                    P {
                        height: 150px;
                        overflow: auto;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .WorkSec {
        .WorkBg {
            @include padding(20px, 25px, 20px, 25px);
            border-radius: 5px;
            position: relative;

            .WorkBox {
                margin-top: 50px;

                .workItem {
                    text-align: center;
                    @include padding (20px, 10px);
                    height: 350px;

                    P {
                        height: 150px;
                        overflow: auto;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .WorkSec {
        .WorkBg {
            @include padding(20px, 20px, 20px, 20px);
            border-radius: 5px;
            position: relative;

            .WorkBox {
                margin-top: 50px;

                .workItem {
                    text-align: center;
                    @include padding (20px, 10px);
                    height: 350px;

                    P {
                        height: 150px;
                        overflow: auto;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 0px, $max: 576px) {}