.headerLp {
  background-color: transparent;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .mainLogo {
    svg {
      height: 55px;
      width: 100%;
    }
  }

  .headerLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;

    li {
      .emailBtn,
      .callNow,
      .liveChat {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      a {
        font-size: 14px;
        color: #ffffff;
        line-height: 20px;

        &:hover {
          color: #fb0d1c;
        }
      }

      &.liveChat {
        svg {
          width: 25px;
          margin-right: 5px;
          height: auto;

          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

/* Media Queries */
@media (min-width: 1400px) and (max-width: 1600px) {
  .headerLp {
    height: 90px;

    .mainLogo svg {
      height: 50px;
    }

    .headerLinks {
      gap: 14px;

      li {
        a {
          font-size: 14px;
        }

        .liveChat svg {
          width: 22px;
        }
      }
    }
  }
}

@media (min-width: 1300px) and (max-width: 1399px) {
  .headerLp {
    height: 80px;

    .mainLogo svg {
      height: 45px;
    }

    .headerLinks {
      gap: 12px;

      li {
        a {
          font-size: 13px;
        }

        .liveChat svg {
          width: 20px;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .headerLp {
    height: 80px;

    .mainLogo svg {
      height: 45px;
    }

    .headerLinks {
      gap: 12px;

      li {
        a {
          font-size: 13px;
        }

        .liveChat svg {
          width: 20px;
        }
      }
    }
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .headerLp {
    height: 60px;

    .mainLogo svg {
      height: 40px;
    }

    .headerLinks {
      gap: 10px;

      li {
        a {
          font-size: 12px;
        }

        .liveChat svg {
          width: 18px;
        }
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  .headerLp {
    height: 60px;

    .mainLogo svg {
      height: 40px;
    }

    .headerLinks {
      gap: 10px;

      li {
        a {
          font-size: 12px;
        }

        .liveChat svg {
          width: 18px;
        }
      }
    }
  }
}

@media (min-width: 701px) and (max-width: 899px) {
  .headerLp {
    height: 60px;

    .mainLogo svg {
      height: 40px;
    }

    .headerLinks {
      gap: 10px;

      li:first-child,
      li:last-child {
        display: none;
      }

      .modal {
        display: none;
      }

      li {
        a {
          font-size: 12px;
        }

        .liveChat svg {
          width: 18px;
        }
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 700px) {
  .headerLp {
    height: 60px;

    .mainLogo svg {
      height: 40px;
    }

    .headerLinks {
      gap: 10px;

      li:first-child,
      li:last-child {
        display: none;
      }

      .modal {
        display: none;
      }

      li {
        a {
          font-size: 12px;
        }

        .liveChat svg {
          width: 18px;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 576px) {
  .headerLp {
    height: 60px;

    .mainLogo svg {
      height: 40px;
    }

    .headerLinks {
      gap: 10px;
      justify-content: center;
      flex-wrap: wrap;

      li:first-child,
      li:last-child {
        display: none;
      }

      .modal {
        display: none;
      }

      li {
        a {
          font-size: 12px;
        }

        .liveChat a {
          font-size: 0;
        }

        .liveChat svg {
          width: 18px;
          margin-right: 0;
        }
      }
    }
  }
}
