@import '../variables.module.scss';

.footerSec {
    padding-bottom: 50px !important;

    .contactLogo {
        margin-bottom: 30px;

        svg {
            height: 70px;
        }
    }

    .socailIcon {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        li {
            a {
                @include transition(all);

                &:hover {
                    @include transition(all);

                    svg {
                        path {
                            fill: $secondary-color;
                        }
                    }
                }
            }
        }
    }

    .contactNumber {
        margin-bottom: 10px;

        a {
            @include font-size(16px);
            line-height: 24px;
            color: $white-color;
            @include transition(all);
            font-weight: 400;

            &:hover {
                @include transition(all);
                color: $secondary-color;
            }
        }
    }

    .contactAddress {
        margin-bottom: 20px;
        @include font-size(16px);
        line-height: 26px;
        color: $white-color;
        font-weight: 400;
    }

    .footerLinks {
        display: flex;
        justify-content: space-between;
        align-items: start;

        ul {
            flex: 0 0 16.66%;

            li {
                margin-bottom: 10px;

                a {
                    @include font-size(16px);
                    line-height: 26px;
                    color: $white-color;
                    font-weight: 400;
                    @include transition(all);

                    &:hover {
                        @include transition(all);
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 70px;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;
        }

        .contactNumber {
            margin-bottom: 10px;

            a {
                @include font-size(16px);
                line-height: 24px;

            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(15px);
            line-height: 26px;
            padding-right: 50px;
        }

        .footerLinks {

            ul {
                flex: 0 0 16.66%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(15px);
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 70px;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;
        }

        .contactNumber {
            margin-bottom: 10px;

            a {
                @include font-size(15px);
                line-height: 24px;

            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(15px);
            line-height: 26px;
            padding-right: 50px;
        }

        .footerLinks {

            ul {
                flex: 0 0 16.66%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(15px);
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 60px;
                width: auto;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;

            li {
                svg {
                    height: 30px;
                }
            }
        }

        .contactNumber {
            margin-bottom: 10px;

            a {
                @include font-size(15px);
                line-height: 24px;

            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(15px);
            line-height: 26px;
            padding-right: 50px;
        }

        .footerLinks {

            ul {
                flex: 0 0 16.66%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(15px);
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 60px;
                width: auto;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;

            li {
                svg {
                    height: 30px;
                }
            }
        }

        .contactNumber {
            margin-bottom: 10px;

            a {
                @include font-size(15px);
                line-height: 24px;

            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(15px);
            line-height: 26px;
            padding-right: 50px;
        }

        .footerLinks {

            ul {
                flex: 0 0 16.66%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(15px);
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 60px;
                width: auto;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;

            li {
                svg {
                    height: 30px;
                }
            }
        }

        .contactNumber {
            margin-bottom: 10px;

            a {
                @include font-size(14px);
                line-height: 24px;

            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(14px);
            line-height: 26px;
            padding-right: 50px;
        }

        .footerLinks {
            flex-wrap: wrap;

            ul {
                flex: 0 0 25%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(14px);
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 60px;
                width: auto;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;

            li {
                svg {
                    height: 30px;
                }
            }
        }

        .contactNumber {
            margin-bottom: 10px;

            a {
                @include font-size(14px);
                line-height: 24px;

            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(14px);
            line-height: 26px;
            padding-right: 50px;
        }

        .footerLinks {
            margin-top: 50px;
            flex-wrap: wrap;

            ul {
                flex: 0 0 25%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(14px);
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .footerSec {
        padding-bottom: 50px !important;

        .contactLogo {
            margin-bottom: 30px;

            svg {
                height: 60px;
                width: auto;
            }
        }

        .socailIcon {
            gap: 20px;
            margin-bottom: 20px;

            li {
                svg {
                    height: 30px;
                }
            }
        }

        .contactNumber {
            margin-bottom: 5px;

            a {
                @include font-size(13px);
                line-height: 23px;
            }
        }

        .contactAddress {
            margin-bottom: 20px;
            @include font-size(13px);
            line-height: 23px;
            padding-right: 50px;
        }

        .footerLinks {
            margin-top: 50px;
            flex-wrap: wrap;

            ul {
                flex: 0 0 33%;

                li {
                    margin-bottom: 10px;

                    a {
                        @include font-size(13px);
                        line-height: 23px;
                    }
                }
            }
        }
    }
}