@import '../variables.module.scss';

.headerSec {
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(26px) brightness(1.2);
    -webkit-backdrop-filter: blur(26px) brightness(1.2);
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    overflow-x: visible;

    .mainLogo {
        svg {
            height: 55px;
            width: auto;
        }
    }
}

@include media-query($min: 1400px, $max: 1600px) {
    .headerSec {
        height: 80px;

        .mainLogo {
            svg {
                height: 40px;
                width: auto;
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .headerSec {
        height: 75px;

        .mainLogo {
            svg {
                height: 45px;
                width: auto;
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .headerSec {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
                width: auto;
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .headerSec {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
                width: auto;
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .headerSec {
        height: 60px;

        .mainLogo {
            svg {
                height: 35px;
                width: auto;
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .headerSec {
        height: 60px;

        .mainLogo {
            svg {
                height: 35px;
                width: auto;
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .headerSec {
        height: 60px;
        overflow-x: visible;

        .mainLogo {
            svg {
                height: 40px;
                width: auto;
            }
        }

    }
}

@include media-query($min: 0px, $max: 576px) {
    .headerSec {
        height: 60px;
        overflow-x: visible;

        .mainLogo {
            svg {
                height: 40px;
                width: auto;
            }
        }
    }
}