@import '../variables.module.scss';

.headerSec {
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(26px) brightness(1.2);
    -webkit-backdrop-filter: blur(26px) brightness(1.2);
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;

    .mainMenu {
        ul {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 30px;

            li {
                a {
                    @include font-size (16px);
                    font-weight: 500;
                    line-height: 33px;
                    color: $black-color;
                    @include transition (all);

                    &:hover {
                        color: $secondary-color;
                    }
                }

                &.active {
                    a {
                        color: $secondary-color;
                    }
                }

                &:nth-last-child(2) {
                    a {
                        @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 16px);

                        svg {
                            margin-left: 10px;
                            width: 20px;
                            height: auto;
                        }

                        &:hover {
                            background: transparent;
                            color: $secondary-color;
                            border-color: $secondary-color;

                            svg {
                                path {
                                    fill: $secondary-color;
                                }
                            }
                        }


                    }

                }

                &:last-child {
                    a {
                        @include font-size (17px);

                        svg {
                            margin-right: 10px;
                            margin-top: -5px;
                        }

                        &:hover {
                            svg {
                                path {
                                    fill: $secondary-color;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .headerSec {
        height: 80px;

        .mainMenu {
            ul {
                gap: 26px;

                li {
                    a {
                        @include font-size (15px);
                        line-height: 30px;
                    }

                    &:nth-last-child(2) {
                        a {
                            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 15px);

                            svg {
                                margin-left: 10px;
                                width: 18px;
                            }
                        }

                    }

                    &:last-child {
                        a {
                            @include font-size (16px);

                            svg {
                                margin-right: 10px;
                                margin-top: -5px;
                                width: 40px;
                                height: auto;
                            }
                        }

                    }
                }
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .headerSec {
        height: 80px;

        .mainMenu {
            ul {
                gap: 26px;

                li {
                    a {
                        @include font-size (15px);
                        line-height: 30px;
                    }

                    &:nth-last-child(2) {
                        a {
                            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 15px);

                            svg {
                                margin-left: 10px;
                                width: 18px;
                            }
                        }

                    }

                    &:last-child {
                        a {
                            @include font-size (16px);

                            svg {
                                margin-right: 10px;
                                margin-top: -5px;
                                width: 40px;
                                height: auto;
                            }
                        }

                    }
                }
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .headerSec {
        height: 80px;

        .mainMenu {
            ul {
                gap: 24px;

                li {
                    a {
                        @include font-size (14px);
                        line-height: 30px;
                    }

                    &:nth-last-child(2) {
                        a {
                            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 14px);

                            svg {
                                margin-left: 10px;
                                width: 18px;
                            }
                        }

                    }

                    &:last-child {
                        a {
                            @include font-size (15px);

                            svg {
                                margin-right: 10px;
                                margin-top: -5px;
                                width: 36px;
                                height: auto;
                            }
                        }

                    }
                }
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .headerSec {
        height: 80px;

        .mainMenu {
            ul {
                gap: 20px;

                li {
                    a {
                        @include font-size (13px);
                        line-height: 30px;
                    }

                    &:nth-last-child(2) {
                        a {
                            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 13px);

                            svg {
                                margin-left: 5px;
                                width: 15px;
                            }
                        }

                    }

                    &:last-child {
                        a {
                            @include font-size (14px);

                            svg {
                                margin-right: 5px;
                                margin-top: -5px;
                                width: 30px;
                                height: auto;
                            }
                        }

                    }
                }
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .headerSec {
        height: 70px;

        .mainMenu {
            ul {
                gap: 14px;

                li {
                    a {
                        @include font-size (12px);
                        line-height: 30px;
                    }

                    &:nth-last-child(2) {
                        a {
                            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 12px);

                            svg {
                                margin-left: 5px;
                                width: 16px;
                            }
                        }

                    }

                    &:last-child {
                        a {
                            @include font-size (0px);

                            svg {
                                margin-right: 5px;
                                margin-top: -5px;
                                width: 30px;
                                height: auto;
                            }
                        }

                    }
                }
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .headerSec {
        height: 70px;

        .mainMenu {
            ul {
                gap: 14px;

                li {
                    a {
                        @include font-size (12px);
                        line-height: 30px;
                    }

                    &:nth-last-child(2) {
                        a {
                            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), #ffffff, #EBEBEB, 23px, 12px);

                            svg {
                                margin-left: 5px;
                                width: 16px;
                            }
                        }

                    }

                    &:last-child {
                        a {
                            @include font-size (0px);

                            svg {
                                margin-right: 5px;
                                margin-top: -5px;
                                width: 30px;
                                height: auto;
                            }
                        }

                    }
                }
            }
        }
    }
}

@include media-query($min: 0px, $max: 576px) {}