@import '../../../../../styles/variables.module.scss';

.casestudiesLp {
    padding: 50px 0px;
    text-align: center;

    .tabTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0px;
        gap: 15px;

        .tab {
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            height: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 23px;
            padding: 0px 30px;
            font-weight: 500;
            width: 100%;
            border: 1px solid $secondary-color;

            &:hover,
            &.active {
                background: linear-gradient(270deg, #fc2030, #d1000f);
            }
        }
    }

    .tabContent {
        .tabVideo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            flex-wrap: wrap;


            .videoThumbnail {
                height: 230px;
                flex: 0 0 calc(33.33% - 25px);
                position: relative;
                background-position: 50% 50%;
                background-size: cover;
                border-radius: 5px;

                &::after {
                    content: '';
                    background: #1c1c1c;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: 0;
                    border-radius: 5px;
                }

                .thumbnail {
                    width: 150px;
                    height: 200px;
                }
            }

            .playButton {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9;
                cursor: pointer;

                &:hover {
                    svg {
                        path {
                            fill: $secondary-color;
                        }
                    }
                }
            }

        }
    }

    .ctaButton {
        margin: 50px 0px;

        .ctaBtn {
            border: 1px solid $secondary-color;
        }
    }
}


@include media-query($min: 1400px, $max: 1600px) {
    .casestudiesLp {
        padding: 50px 0px;

        .tabTitle {
            margin: 30px 0px;
            gap: 12px;

            .tab {
                font-size: 15px;
                height: 45px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 25px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 25px);
                }

            }
        }

        .ctaButton {
            margin: 45px 0px 0px;
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .casestudiesLp {
        padding: 45px 0px;

        .tabTitle {
            margin: 30px 0px;
            gap: 12px;

            .tab {
                font-size: 15px;
                height: 45px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 25px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 25px);
                }

            }
        }

        .ctaButton {
            margin: 45px 0px 0px;
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .casestudiesLp {
        padding: 40px 0px;

        .tabTitle {
            margin: 30px 0px;
            gap: 10px;

            .tab {
                font-size: 14px;
                height: 40px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 25px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 25px);
                }

                .playButton {
                    svg {
                        height: 45px;
                        width: auto;
                    }
                }
            }
        }

        .ctaButton {
            margin: 45px 0px 0px;
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .casestudiesLp {
        padding: 35px 0px;

        .tabTitle {
            margin: 25px 0px;
            gap: 10px;

            .tab {
                font-size: 13px;
                height: 40px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 20px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 20px);
                }

                .playButton {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .ctaButton {
            margin: 30px 0px 0px;
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .casestudiesLp {
        padding: 35px 0px;

        .tabTitle {
            margin: 25px 0px;
            gap: 10px;

            .tab {
                font-size: 13px;
                height: 40px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 20px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 20px);
                }

                .playButton {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .ctaButton {
            margin: 30px 0px 0px;
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .casestudiesLp {
        padding: 30px 0px;

        .tabTitle {
            margin: 25px 0px;
            gap: 10px;

            .tab {
                font-size: 12px;
                height: 40px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 20px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 20px);
                }

                .playButton {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .ctaButton {
            margin: 30px 0px 0px;
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .casestudiesLp {
        padding: 25px 0px;

        .tabTitle {
            margin: 25px 0px;
            gap: 10px;

            .tab {
                font-size: 12px;
                height: 40px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 20px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(33.33% - 20px);
                }

                .playButton {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .ctaButton {
            margin: 30px 0px 0px;
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .casestudiesLp {
        padding: 25px 0px;

        .tabTitle {
            margin: 15px 0px;
            gap: 10px;
            flex-direction: column;

            .tab {
                font-size: 13px;
                height: 35px;
                padding: 0px 20px;
            }
        }

        .tabContent {
            .tabVideo {
                gap: 10px;

                .videoThumbnail {
                    height: auto;
                    flex: 0 0 calc(100% - 10px);
                }

                .playButton {
                    svg {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }

        .ctaButton {
            margin: 30px 0px 0px;
        }
    }
}