@import '../../../../../styles/variables.module.scss';


.headerLp {
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(26px) brightness(1.2);
    -webkit-backdrop-filter: blur(26px) brightness(1.2);
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;

    &.active {
        background: rgb(255, 255, 255, 0.9);

        .headerLinks {
            li {
                &.emailBtn {
                    a {
                        color: $black-color;
                    }
                }
            }
        }
    }

    .mainLogo {
        svg {
            height: 55px;
            width: auto;
        }
    }

    .headerLinks {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;

        li {
            a {
                font-size: 14px;
                color: $white-color;
                line-height: 20px;

                &:hover {
                    color: $secondary-color;
                }
            }



            &.liveChat {
                svg {
                    width: 25px;
                    margin-right: 5px;
                    height: auto;

                    path {
                        fill: $white-color;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1400px, $max: 1600px) {
    .headerLp {
        height: 90px;

        .mainLogo {
            svg {
                height: 50px;
            }
        }

        .headerLinks {
            gap: 14px;

            li {
                a {
                    font-size: 14px;
                    line-height: 20px;
                }



                &.liveChat {
                    svg {
                        width: 22px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .headerLp {
        height: 80px;

        .mainLogo {
            svg {
                height: 45px;
            }
        }

        .headerLinks {
            gap: 12px;

            li {
                a {
                    font-size: 13px;
                    line-height: 19px;
                }



                &.liveChat {
                    svg {
                        width: 20px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .headerLp {
        height: 80px;

        .mainLogo {
            svg {
                height: 45px;
            }
        }

        .headerLinks {
            gap: 12px;

            li {
                a {
                    font-size: 13px;
                    line-height: 19px;
                }



                &.liveChat {
                    svg {
                        width: 20px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .headerLp {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
            }
        }

        .headerLinks {
            gap: 10px;

            li {
                a {
                    font-size: 12px;
                    line-height: 19px;
                }



                &.liveChat {
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .headerLp {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
            }
        }

        .headerLinks {
            gap: 10px;

            li {
                a {
                    font-size: 12px;
                    line-height: 19px;
                }



                &.liveChat {
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .headerLp {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
            }
        }

        .headerLinks {
            gap: 10px;

            li {

                &:first-child,
                &:last-child {
                    display: none;
                }

                a {
                    font-size: 12px;
                    line-height: 19px;
                }



                &.liveChat {
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .headerLp {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
            }
        }

        .headerLinks {
            gap: 10px;

            li {

                &:first-child,
                &:last-child {
                    display: none;
                }

                a {
                    font-size: 12px;
                    line-height: 19px;
                }



                &.liveChat {
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .headerLp {
        height: 60px;

        .mainLogo {
            svg {
                height: 40px;
            }
        }

        .headerLinks {
            gap: 10px;

            li {

                &:first-child,
                &:last-child {
                    display: none;
                }

                a {
                    font-size: 12px;
                    line-height: 19px;
                }



                &.liveChat {
                    a {
                        font-size: 0px;
                    }

                    svg {
                        width: 18px;
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}