@import '../variables.module.scss';

.casestudySec {
    .videoBox {
        height: 230px;
        margin-bottom: 20px;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        position: relative;
        border-radius: 5px;

        &:after {
            content: '';
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 0;
        }

        .playBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            cursor: pointer;
            @include transition(all);

            svg {
                width: 50px;
            }

            &:hover {
                @include transition(all);

                svg {
                    path {
                        fill: $secondary-color;
                    }
                }
            }
        }
    }
}

@include media-query($min: 1400px, $max: 1599px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 35px;
                    height: auto;
                }
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 35px;
                    height: auto;
                }
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 35px;
                    height: auto;
                }
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 32px;
                    height: auto;
                }
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 30px;
                    height: auto;
                }
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 40px;
                }
            }
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .casestudySec {
        .videoBox {
            .playBtn {
                svg {
                    width: 40px;
                }
            }
        }
    }
}