@import '../variables.module.scss';

.contactForm {
    .input {
        margin-bottom: 20px;

        input {
            width: 100%;
            background: rgba(255, 255, 255, 0.2);
            height: 50px;
            border: 1px solid rgb(255, 255, 255, 0.2);
            padding: 0px 15px;
            color: $white-color;
            @include font-size(14px);
            font-weight: 400;
        }
    }

    .textarea {
        textarea {
            width: 100%;
            height: 130px;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgb(255, 255, 255, 0.2);
            padding: 10px 15px;
            color: $white-color;
            outline: none;
            @include font-size(14px);
            font-weight: 300;
        }
    }

    .contactSubmit {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .submitBtn {
            @include button(linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%), $white-color, #EBEBEB, 23px, 16px);
            max-width: 250px;

            svg {
                margin-left: 10px;
                width: 20px;
                height: auto;
            }

            &:hover {
                background: $black-color;
                color: $white-color;
                border-color: #EBEBEB;


                svg {
                    path {
                        fill: $white-color;
                    }
                }
            }
        }

        .bookCall {
            @include button(linear-gradient(270deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), $white-color, #EBEBEB, 23px, 16px);
            max-width: 250px;

            svg {
                margin-left: 10px;
                width: 20px;
                height: auto;
            }

            &:hover {
                background: $black-color;
                color: $white-color;
                border-color: #EBEBEB;


                svg {
                    path {
                        fill: $white-color;
                    }
                }
            }
        }
    }
}