@import '../variables.module.scss';

.embla {
    max-width: 100%;
    margin: auto;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc(30px * -1);

            .embla__slide {
                min-width: 0;
                flex: 0 0 calc(100% / 3);
                padding-left: 30px;

                .servicesBox {
                    .servicesImg {
                        height: 300px;
                        width: auto;
                        margin-bottom: 20px;

                        img {
                            border-radius: 5px;
                        }
                    }

                    .servicestxt {
                        h3 {
                            svg {
                                width: 20px;
                                height: auto;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .embla__button__container {
        margin-top: 30px;
        display: flex;
        justify-content: end;
        gap: 15px;

        div {
            cursor: pointer;

            svg {
                width: 40px;
            }
        }

        .embla__prev {
            svg {
                transform: rotate(180deg);
            }
        }

    }


}