@import '../variables.module.scss';

.embla {
    max-width: 100%;
    margin: 30px auto 0px;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc(30px * -1);

            .embla__slide {
                min-width: 0;
                flex: 0 0 calc(100% / 3);
                padding-left: 30px;

                .testimonialBox {
                    height: 530px;
                    width: 100%;
                    border: 1px solid rgb(255, 255, 255, 0.24);
                    position: relative;
                    overflow: hidden;

                    &:after {
                        content: '';
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 0;
                    }

                    .testimonialImg {
                        width: auto;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .testimonialtxt {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        z-index: 1;
                        @include padding(20px, 20px);
                        width: 100%;

                        h3 {
                            color: $secondary-color;
                            margin-bottom: 5px;
                            height: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .playBtn {
                                cursor: pointer;
                                @include transition(all);

                                svg {
                                    width: 45px;
                                }
                            }
                        }

                        p {
                            margin-bottom: 0px;
                            max-width: 100%;
                            font-weight: 300;
                        }


                        &.active {
                            transform: translateY(calc(100% - 80px));
                            height: auto;
                            transition: transform .3s ease-in-out;
                        }

                    }

                    &:hover {
                        .testimonialtxt {
                            transition: transform .3s ease-in-out;
                            transform: translateY(0%);

                            h3 {
                                .playBtn {
                                    svg {
                                        path {
                                            fill: $secondary-color;
                                        }
                                    }

                                }
                            }
                        }


                    }

                }
            }
        }
    }

    .embla__button__container {
        margin-top: 30px;
        display: flex;
        justify-content: end;
        gap: 15px;

        div {
            cursor: pointer;

            svg {
                width: 40px;
            }
        }

        .embla__prev {
            svg {
                transform: rotate(180deg);
            }
        }

    }


}

@include media-query($min: 1400px, $max: 1599px) {
    .embla {
        margin: 30px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(20px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 3);
                    padding-left: 20px;

                    .testimonialBox {
                        height: 430px;

                        .testimonialtxt {
                            @include padding(20px, 20px);
                            width: 100%;

                            h3 {
                                .playBtn {
                                    svg {
                                        width: 35px;
                                        height: auto;
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 30px;
            gap: 15px;

            div {
                svg {
                    width: 35px;
                }
            }
        }


    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .embla {
        margin: 30px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 3);
                    padding-left: 15px;

                    .testimonialBox {
                        height: 400px;

                        .testimonialtxt {
                            @include padding(20px, 20px);
                            width: 100%;

                            h3 {
                                .playBtn {
                                    svg {
                                        width: 35px;
                                        height: auto;
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 30px;
            gap: 15px;

            div {
                svg {
                    width: 35px;
                }
            }
        }


    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .embla {
        margin: 30px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 3);
                    padding-left: 15px;

                    .testimonialBox {
                        height: 380px;

                        .testimonialtxt {
                            @include padding(20px, 20px);
                            width: 100%;

                            h3 {
                                .playBtn {
                                    svg {
                                        width: 30px;
                                        height: auto;
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 20px;
            gap: 10px;

            div {
                svg {
                    width: 30px;
                }
            }
        }


    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .embla {
        margin: 30px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 3);
                    padding-left: 15px;

                    .testimonialBox {
                        height: 380px;

                        .testimonialtxt {
                            @include padding(20px, 20px);
                            width: 100%;

                            h3 {
                                .playBtn {
                                    svg {
                                        width: 30px;
                                        height: auto;
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 20px;
            gap: 10px;

            div {
                svg {
                    width: 30px;
                }
            }
        }


    }
}

@include media-query($min: 900px, $max: 1099px) {
    .embla {
        margin: 30px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 3);
                    padding-left: 15px;

                    .testimonialBox {
                        height: 300px;

                        .testimonialtxt {
                            @include padding(20px, 20px);
                            width: 100%;

                            h3 {
                                .playBtn {
                                    svg {
                                        width: 25px;
                                        height: auto;
                                    }

                                }
                            }

                            &.active {
                                transform: translateY(calc(100% - 70px));
                            }
                        }

                        &:hover {
                            .testimonialtxt {
                                transition: transform .3s ease-in-out;
                                transform: translateY(0%);
                            }

                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 20px;
            gap: 10px;

            div {
                svg {
                    width: 25px;
                }
            }
        }


    }
}

@include media-query($min: 701px, $max: 899px) {
    .embla {
        margin: 30px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 3);
                    padding-left: 15px;

                    .testimonialBox {
                        height: 300px;

                        .testimonialtxt {
                            @include padding(20px, 20px);
                            width: 100%;

                            h3 {
                                .playBtn {
                                    svg {
                                        width: 25px;
                                        height: auto;
                                    }

                                }
                            }

                            &.active {
                                transform: translateY(calc(100% - 70px));
                            }
                        }

                        &:hover {
                            .testimonialtxt {
                                transition: transform .3s ease-in-out;
                                transform: translateY(0%);
                            }

                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 20px;
            gap: 10px;

            div {
                svg {
                    width: 25px;
                }
            }
        }


    }
}

@include media-query($min: 577px, $max: 700px) {
    .embla {
        margin: 20px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(15px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 1.7);
                    padding-left: 15px;

                    .testimonialBox {
                        height: 380px;

                        .testimonialtxt {
                            @include padding(15px, 15px);
                            width: 100%;

                            h3 {
                                height: auto;

                                .playBtn {
                                    right: 15px;
                                    bottom: 15px;

                                    svg {
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 20px;
            gap: 10px;

            div {
                svg {
                    width: 30px;
                }
            }
        }


    }
}

@include media-query($min: 0px, $max: 576px) {
    .embla {
        margin: 20px auto 0px;

        .embla__viewport {

            .embla__container {
                margin-left: calc(10px * -1);

                .embla__slide {
                    flex: 0 0 calc(100% / 1.2);
                    padding-left: 10px;

                    .testimonialBox {
                        height: 380px;

                        .testimonialtxt {
                            @include padding(15px, 15px);
                            width: 100%;

                            h3 {
                                height: auto;

                                .playBtn {
                                    right: 15px;
                                    bottom: 15px;

                                    svg {
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .embla__button__container {
            margin-top: 15px;
            gap: 10px;

            div {
                svg {
                    width: 30px;
                }
            }
        }


    }
}