@import '../variables.module.scss';


.videoPopup {
    max-width: 1000px;
    height: 500px;
    @include padding(10px);
    background: $black-color;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}