@import '../../../../../styles/variables.module.scss';

.priceLp {
    background: $white-color;
    padding: 50px 0px;

    h2,
    h3,
    p {
        color: $black-color;
    }

    .pricebox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .priceItem {
            background: rgb(243, 216, 110);
            background: linear-gradient(90deg, rgba(243, 216, 110, 1) 0%, rgba(255, 204, 0, 1) 100%);
            width: 390px;
            border-radius: 25px;
            height: 665px;

            position: relative;

            .colorBox {
                .Img {
                    overflow: hidden;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                    img {
                        height: 200px;
                        max-width: 580px;

                        transition: transform 0.3s ease-in-out;
                    }
                }

                .iconImg {
                    margin: -60px auto 0px;
                    z-index: 1;
                    position: relative;

                    img {
                        display: block;
                        margin: auto;

                    }
                }

            }

            .priceTitle {
                font-size: 22px;
                color: $black-color;
                text-align: center;
                font-weight: 600;
                line-height: 35px;
                margin-bottom: 20px;

                .price {
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 60px;
                }
            }

            .priceContect {
                padding: 0px 30px;

                .priceList {
                    li {
                        font-size: 15px;
                        font-weight: 500;
                        margin-bottom: 5px;

                        svg {
                            margin-right: 10px;
                            width: 14px;
                            height: 14px;

                            circle {
                                fill: $black-color;
                            }
                        }
                    }
                }
            }

            .ctaBtn {
                margin: 20px auto;
                display: block;
                text-align: center;
                max-width: 100%;

                .contactItem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 20px 0px;

                    a,
                    div {
                        color: $black-color;
                        cursor: pointer;

                        svg {
                            transform: rotate(-36deg);
                            position: relative;
                            top: -4px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                background: #003262;
                background: linear-gradient(90deg, #005DB8 0%, #003262 100%);
                height: 720px;

                .priceTitle {
                    color: $white-color;
                }

                .priceContect {
                    .priceList {
                        margin: 30px 0px;

                        li {
                            color: $white-color;

                            svg {

                                circle {
                                    fill: $white-color;
                                }
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 50px 0px 0px;

                    .contactItem {
                        padding: 35px 20px 0px;

                        a,
                        div {
                            color: $white-color;

                            svg {
                                path {
                                    fill: $white-color;
                                }
                            }
                        }
                    }
                }

            }

            &:nth-child(3) {
                background: #A70A0E;
                background: linear-gradient(90deg, #C55F61 0%, #A70A0E 100%);

                .priceTitle {
                    color: $white-color;
                }

                .priceContect {
                    .priceList {
                        li {
                            color: $white-color;

                            svg {

                                circle {
                                    fill: $white-color;
                                }
                            }
                        }
                    }
                }

                .ctaBtn {
                    .contactItem {

                        a,
                        div {
                            color: $white-color;

                            svg {
                                path {
                                    fill: $white-color;
                                }
                            }
                        }
                    }
                }

            }

            &:hover {
                .colorBox {
                    .Img {
                        img {
                            transform: translateX(-100px);
                            transition: transform 0.3s ease-in-out;
                            z-index: 1;
                        }
                    }
                }

            }
        }
    }
}

@include media-query($min: 1400px, $max: 1600px) {
    .priceLp {
        padding: 50px 0px;

        .pricebox {
            gap: 10px;

            .priceItem {
                width: 390px;
                border-radius: 25px;
                height: 665px;

                .colorBox {
                    .Img {
                        img {
                            height: 200px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -60px auto 0px;
                    }

                }

                .priceTitle {
                    font-size: 20px;
                    line-height: 32px;
                    margin-bottom: 20px;

                    .price {
                        font-size: 45px;
                        line-height: 55px;
                    }
                }

                .priceContect {
                    padding: 0px 30px;

                    .priceList {
                        li {
                            font-size: 15px;
                            font-weight: 500;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 10px;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 20px 20px 0px;

                        a,
                        div {
                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 720px;

                    .priceContect {
                        .priceList {
                            margin: 30px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 50px 0px 0px;

                        .contactItem {
                            padding: 35px 20px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .priceLp {
        padding: 45px 0px;

        .pricebox {
            gap: 10px;

            .priceItem {
                width: 390px;
                height: 645px;

                .colorBox {
                    .Img {
                        img {
                            height: 200px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -60px auto 0px;
                    }

                }

                .priceTitle {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 20px;

                    .price {
                        font-size: 42px;
                        line-height: 52px;
                    }
                }

                .priceContect {
                    padding: 0px 30px;

                    .priceList {
                        li {
                            font-size: 15px;
                            font-weight: 500;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 10px;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 20px 20px 0px;

                        a,
                        div {
                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 700px;

                    .priceContect {
                        .priceList {
                            margin: 30px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 50px 0px 0px;

                        .contactItem {
                            padding: 35px 20px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .priceLp {
        padding: 40px 0px;

        .pricebox {
            gap: 10px;

            .priceItem {
                width: 390px;
                height: 625px;

                .colorBox {
                    .Img {
                        img {
                            height: 200px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -60px auto 0px;
                    }

                }

                .priceTitle {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 20px;

                    .price {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                .priceContect {
                    padding: 0px 30px;

                    .priceList {
                        li {
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 10px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 20px 20px 0px;

                        a,
                        div {
                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 685px;

                    .priceContect {
                        .priceList {
                            margin: 30px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 50px 0px 0px;

                        .contactItem {
                            padding: 35px 20px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .priceLp {
        padding: 35px 0px;

        .pricebox {
            gap: 10px;

            .priceItem {
                width: 350px;
                height: 620px;

                .colorBox {
                    .Img {
                        img {
                            height: 200px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -60px auto 0px;
                    }

                }

                .priceTitle {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 20px;

                    .price {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                .priceContect {
                    padding: 0px 30px;

                    .priceList {
                        li {
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 10px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 20px 20px 0px;

                        a,
                        div {
                            font-size: 13px;

                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 675px;

                    .priceContect {
                        .priceList {
                            margin: 30px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 50px 0px 0px;

                        .contactItem {
                            padding: 35px 20px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .priceLp {
        padding: 35px 0px;

        .pricebox {
            gap: 10px;

            .priceItem {
                width: 320px;
                height: 615px;

                .colorBox {
                    .Img {
                        img {
                            height: 200px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -60px auto 0px;
                    }

                }

                .priceTitle {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 20px;

                    .price {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                .priceContect {
                    padding: 0px 30px;

                    .priceList {
                        li {
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 10px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 20px 20px 0px;

                        a,
                        div {
                            font-size: 13px;

                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 670px;

                    .priceContect {
                        .priceList {
                            margin: 30px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 50px 0px 0px;

                        .contactItem {
                            padding: 35px 20px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .priceLp {
        padding: 30px 0px;

        .pricebox {
            gap: 5px;

            .priceItem {
                width: 240px;
                height: 465px;

                .colorBox {
                    .Img {
                        img {
                            height: 120px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -30px auto 0px;
                        height: 60px;
                        width: 60px;
                    }

                }

                .priceTitle {
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 10px;

                    .price {
                        font-size: 35px;
                        line-height: 45px;
                    }
                }

                .priceContect {
                    padding: 0px 10px;

                    .priceList {
                        li {
                            font-size: 13px;
                            font-weight: 400;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 5px;
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 10px 10px 0px;

                        a,
                        div {
                            font-size: 12px;

                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 500px;

                    .priceContect {
                        .priceList {
                            margin: 20px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 30px 0px 0px;

                        .contactItem {
                            padding: 20px 10px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .priceLp {
        padding: 30px 0px;

        .pricebox {
            gap: 5px;
            flex-wrap: wrap;

            .priceItem {
                width: 280px;
                height: 465px;

                .colorBox {
                    .Img {
                        img {
                            height: 120px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -30px auto 0px;
                        height: 60px;
                        width: 60px;
                    }

                }

                .priceTitle {
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 10px;

                    .price {
                        font-size: 35px;
                        line-height: 45px;
                    }
                }

                .priceContect {
                    padding: 0px 10px;

                    .priceList {
                        li {
                            font-size: 13px;
                            font-weight: 400;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 5px;
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 10px 10px 0px;

                        a,
                        div {
                            font-size: 12px;

                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 465px;

                    .priceContect {
                        .priceList {
                            margin: 0px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 20px auto;

                        .contactItem {
                            padding: 10px 10px 0px;
                        }
                    }

                }
            }
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .priceLp {
        padding: 30px 0px;

        .pricebox {
            gap: 5px;
            flex-wrap: wrap;

            .priceItem {
                width: 300px;
                height: 470px;

                .colorBox {
                    .Img {
                        img {
                            height: 120px;
                            max-width: 580px;
                        }
                    }

                    .iconImg {
                        margin: -30px auto 0px;
                        height: 60px;
                        width: 60px;
                    }

                }

                .priceTitle {
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 10px;

                    .price {
                        font-size: 35px;
                        line-height: 45px;
                    }
                }

                .priceContect {
                    padding: 0px 30px;

                    .priceList {
                        li {
                            font-size: 13px;
                            font-weight: 400;
                            margin-bottom: 5px;

                            svg {
                                margin-right: 5px;
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }

                .ctaBtn {
                    margin: 20px auto;

                    .contactItem {
                        padding: 10px 10px 0px;

                        a,
                        div {
                            font-size: 12px;

                            svg {
                                top: -4px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    height: 470px;

                    .priceContect {
                        .priceList {
                            margin: 0px 0px;
                        }
                    }

                    .ctaBtn {
                        margin: 20px auto;

                        .contactItem {
                            padding: 10px 10px 0px;
                        }
                    }

                }
            }
        }
    }
}