.embla {
    background: rgb(3 3 3 / 100%);
    padding: 20px 0;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc(0px * -1);
            justify-content: center;

            .embla__slide {
                min-width: 0;
                flex: 0 0 300px;
                padding-left: 0px;
                text-align: center;
            }
        }


    }


}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .embla {
        padding: 20px 0;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 280px;

                    img {
                        height: 60px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .embla {
        padding: 20px 0;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 250px;

                    img {
                        height: 55px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .embla {
        padding: 20px 0;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 230px;

                    img {
                        height: 50px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .embla {
        padding: 20px 0;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 200px;

                    img {
                        height: 45px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .embla {
        padding: 20px 0;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 180px;

                    img {
                        height: 45px;
                        width: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .embla {
        padding: 20px 0;

        .embla__viewport {
            .embla__container {
                .embla__slide {
                    flex: 0 0 150px;

                    img {
                        height: 40px;
                        width: auto;
                    }
                }
            }
        }
    }
}