@import '../../variables.module.scss';

.commonBanner {
    height: calc(100vh - 85px);
    overflow: hidden;

    .bannerContent {
        position: relative;

        h1 {
            @include font-size(140px);
            font-weight: 500;
            line-height: 150px;
            margin-bottom: 0px;
            color: #ffffff;
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translate(0px, -50%);
        }
    }

}