@import '../../variables.module.scss';

.contentSec {
    img {
        margin-top: 0px;
    }
}

@include media-query($min: 577px, $max: 700px) {
    .contentSec {
        img {
            margin-top: 20px;
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .contentSec {
        img {
            margin-top: 20px;
        }
    }
}