@import '../../variables.module.scss';

.elevateSec {
    .borderTopStyle {
        border-top: 1px solid $border-color;
        padding-top: 50px;

        h2 {
            max-width: 80%;
            margin: 0px auto 20px;
        }

    }
}

@include media-query($min: 1400px, $max: 1599px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 40px;

            h2 {
                max-width: 70%;
                margin: 0px auto 10px;
            }

        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 40px;

            h2 {
                max-width: 80%;
                margin: 0px auto 10px;
            }

        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 40px;

            h2 {
                max-width: 70%;
                margin: 0px auto 10px;
            }

        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 40px;

            h2 {
                max-width: 70%;
                margin: 0px auto 10px;
            }

        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 40px;
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 30px;
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 30px;

            h2 {
                max-width: 90%;
                margin: 0px auto 20px;
            }

        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .elevateSec {
        .borderTopStyle {
            border-top: 1px solid $border-color;
            padding-top: 20px;

            h2 {
                max-width: 100%;
                margin: 0px auto 15px;
            }

        }
    }
}