@import '../../variables.module.scss';

.embla {
    max-width: 100%;
    margin: auto;
    margin-top: 50px;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc(30px * -1);
            // justify-content: center;

            .embla__slide {
                flex: 0 0 26%;
                min-width: 0;
                padding-left: 30px;

                .elevateBox {
                    background-color: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(30px) brightness(0.1);
                    -webkit-backdrop-filter: blur(30px) brightness(0.1);
                    @include padding(40px, 30px);
                    position: relative;
                    overflow: hidden;
                    text-align: center;
                    height: 520px;
                    border-radius: 5px;
                    border: 1px solid $border-color;

                    .elevateImg {
                        margin-bottom: 20px;
                    }

                    .elevatetxt {
                        p {
                            @include font-size(15px);
                        }
                    }
                }
            }
        }
    }

    .embla__button__container {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        position: relative;

        div {
            cursor: pointer;

            svg {
                width: 40px;
            }
        }

        .embla__prev {
            &::after {
                content: '';
                background: $secondary-color;
                width: 98%;
                height: 1px;
                display: block;
                position: absolute;
                left: 15px;
                bottom: 15px;
                z-index: -1;
            }

            svg {
                transform: rotate(180deg);
            }
        }

    }


}