@import '../../../../../styles/variables.module.scss';

.creationLp {
    padding: 50px 0px;

    h3 {
        margin-top: 40px;

        span {
            color: $secondary-color;
        }
    }

    .creationBtn {
        display: flex;
        gap: 20px;

        li {

            div,
            a {

                &:hover {
                    background: $white-color;
                    color: $secondary-color;

                    svg {
                        path {
                            fill: $secondary-color;
                        }
                    }
                }

                svg {
                    width: 25px;
                    margin-right: 10px;

                    path {
                        fill: $white-color;
                    }
                }
            }
        }
    }

    .creationVideo {
        height: 400px;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .imgCreation {
        margin: 50px auto 0px;
    }
}

@include media-query($min: 1400px, $max: 1600px) {
    .creationLp {
        padding: 50px 0px;

        h3 {
            margin-top: 40px;
        }

        .creationBtn {
            gap: 20px;

            li {

                div,
                a {

                    svg {
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .creationVideo {
            height: 400px;
        }

        .imgCreation {
            margin: 50px auto 0px;
        }
    }
}

@include media-query($min: 1300px, $max: 1399px) {
    .creationLp {
        padding: 45px 0px;

        h3 {
            margin-top: 40px;
        }

        .creationBtn {
            gap: 20px;

            li {

                div,
                a {

                    svg {
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .creationVideo {
            height: 380px;
        }

        .imgCreation {
            margin: 50px auto 0px;
        }
    }
}

@include media-query($min: 1200px, $max: 1299px) {
    .creationLp {
        padding: 40px 0px;

        h3 {
            margin-top: 40px;
        }

        .creationBtn {
            gap: 20px;

            li {

                div,
                a {

                    svg {
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .creationVideo {
            height: 370px;
        }

        .imgCreation {
            margin: 30px auto 0px;
        }
    }
}

@include media-query($min: 1100px, $max: 1199px) {
    .creationLp {
        padding: 35px 0px;

        h3 {
            margin-top: 40px;
        }

        .creationBtn {
            gap: 20px;

            li {

                div,
                a {

                    svg {
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .creationVideo {
            height: 370px;
        }

        .imgCreation {
            margin: 30px auto 0px;
        }
    }
}

@include media-query($min: 900px, $max: 1099px) {
    .creationLp {
        padding: 35px 0px;

        h3 {
            margin-top: 30px;
        }

        .creationBtn {
            gap: 20px;

            li {

                div,
                a {

                    svg {
                        width: 20px;
                        margin-right: 10px;
                        height: auto;
                    }
                }
            }
        }

        .creationVideo {
            height: 350px;
        }

        .imgCreation {
            margin: 30px auto 0px;
        }
    }
}

@include media-query($min: 701px, $max: 899px) {
    .creationLp {
        padding: 30px 0px;

        h3 {
            margin-top: 30px;
        }

        .creationBtn {
            gap: 15px;

            li {

                div,
                a {

                    svg {
                        width: 18px;
                        margin-right: 5px;
                        height: auto;
                    }
                }
            }
        }

        .creationVideo {
            height: 300px;
        }

        .imgCreation {
            margin: 25px auto 0px;
        }
    }
}

@include media-query($min: 577px, $max: 700px) {
    .creationLp {
        padding: 25px 0px;

        h3 {
            margin-top: 30px;
        }

        .creationBtn {
            gap: 10px;

            li {

                div,
                a {

                    svg {
                        width: 15px;
                        margin-right: 5px;
                        height: auto;
                    }
                }
            }
        }

        .creationVideo {
            height: 200px;

            video {
                object-fit: contain;
            }
        }

        .imgCreation {
            margin: 25px auto 0px;
        }
    }
}

@include media-query($min: 0px, $max: 576px) {
    .creationLp {
        padding: 25px 0px;

        h3 {
            margin-top: 20px;
        }

        .creationBtn {
            gap: 10px;

            li {

                div,
                a {

                    svg {
                        width: 15px;
                        margin-right: 5px;
                        height: auto;
                    }
                }
            }
        }

        .creationVideo {
            height: 200px;

            video {
                object-fit: contain;
            }
        }

        .imgCreation {
            margin: 0px auto 0px;
            display: none;
        }
    }
}