@import './variables.module.scss';

body {
    background: $black-color;

    .modal-backdrop.show {
        background-color: rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(26px) brightness(1.2);
        -webkit-backdrop-filter: blur(26px) brightness(1.2);
        opacity: 1;
    }

    .modal {
        .modal-dialog {
            --bs-modal-width: 1000px;

            .modal-content {
                background: transparent;
                border: 0px;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        outline: 1px solid $secondary-color;
        border-radius: 5px;
    }

    &.active {
        overflow: hidden;

        &::after {
            content: '';
            background: rgb(0 0 0 / 95%);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 60px;
            left: 0px;
            z-index: 1;
        }
    }


    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .p-50 {
        @include padding(50px, 0px);
    }

    .p-100 {
        @include padding(100px, 0px, 0px);
    }

    h1 {
        @include font-size(45px);
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 20px;
        color: $white-color;
    }

    h2 {
        @include font-size(45px);
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 30px;
        color: $white-color;
    }

    h3 {
        @include font-size(30px);
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 10px;
        color: $white-color;

        &.spacing {
            letter-spacing: 15px;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: 700;
        }
    }

    h4 {
        @include font-size(40px);
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 15px;
        color: $white-color;
    }

    h5 {
        @include font-size(20px);
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 20px;
        color: $white-color;
    }

    p {
        @include font-size(16px);
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 20px;
        color: $white-color;
    }

    .rfm-marquee-container {
        overflow-x: visible;
    }

    a.button,
    div.button {
        @include button($black-color, $white-color, #EBEBEB, 23px, 15px);

        svg {
            margin-left: 10px;
            width: 18px;
            height: auto;
        }

        &:hover {
            background: linear-gradient(270deg, rgba(252, 32, 48, 1) 0%, rgba(209, 0, 15, 1) 100%);
            color: $white-color;
            border-color: #EBEBEB;

            svg {
                path {
                    fill: $white-color;
                }
            }
        }

        span {
            display: inline-block;
            margin-right: 10px;
        }

    }



    .animation {
        animation: animated 1.5s ease-in-out infinite alternate;
    }

    @keyframes animated {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-20px)
        }
    }

    input,
    textarea {
        outline: none;
        box-shadow: none;

        &::-webkit-input-placeholder {
            color: $white-color;
        }

        &::-moz-placeholder {
            color: $white-color;
        }

        &:-ms-input-placeholder {
            color: $white-color;
        }

        &:-moz-placeholder {
            color: $white-color;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $white-color;
            -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    // Nav Icon
    .navIcon {
        display: none;

        .vbp-header-menu-button__svg {
            width: 30px;
            height: 30px;
            cursor: pointer;
            transform: scaleX(-1);

            line {
                stroke: $secondary-color;
                stroke-dasharray: 100%;
                stroke-dashoffset: 0%;
                transition: transform 0.3s, stroke-dashoffset .4s;
                transform-origin: center;
                stroke-width: 3px;
            }

            .top {
                transform: translateY(-35%);
                -webkit-transform: translateY(-35%);
                -moz-transform: translateY(35%);
                -ms-transform: translateY(35%);
                -o-transform: translateY(35%);
            }

            .middle {
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
                transition: opacity .3s, transform .3s;
                -webkit-transition: opacity .3s, transform .3s;
                -moz-transition: opacity .3s, transform .3s;
                -ms-transition: opacity .3s, transform .3s;
                -o-transition: opacity .3s, transform .3s;
            }

            .bottom {
                transform: translateY(33%);
                -webkit-transform: translateY(33%);
                -moz-transform: translateY(33%);
                -ms-transform: translateY(33%);
                -o-transform: translateY(33%);
                stroke-dasharray: 100%;
                stroke-dashoffset: 9px;
            }

            &:hover {
                .bottom {
                    stroke-dashoffset: 0%;
                }
            }
        }

        &.active {
            .vbp-header-menu-button__svg {
                .top {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    stroke-linecap: round;
                }

                .middle {
                    transform: scaleX(0.1);
                    -webkit-transform: scaleX(0.1);
                    -moz-transform: scaleX(0.1);
                    -ms-transform: scaleX(0.1);
                    -o-transform: scaleX(0.1);
                    opacity: 0;
                }

                line.bottom {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    stroke-linecap: round;
                }

                .bottom {
                    stroke-dashoffset: 0%;
                }
            }
        }
    }
}

@include media-query($min: 1400px, $max: 1600px) {
    body {
        .container {
            max-width: 1260px;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 750px;
            }
        }

        .p-100 {
            @include padding(80px, 0px, 0px);
        }

        h1 {
            @include font-size(38px);
            line-height: 48px;
            margin-bottom: 15px;
        }

        h2 {
            @include font-size(32px);
            line-height: 45px;
            margin-bottom: 20px;
        }

        h3 {
            @include font-size(25px);
            line-height: 35px;
            margin-bottom: 10px;

            &.spacing {
                letter-spacing: 12px;
                margin-bottom: 20px;
            }
        }

        h4 {
            @include font-size(28px);
            line-height: 38px;
            margin-bottom: 15px;
        }

        h5 {
            @include font-size(18px);
            line-height: 26px;
            margin-bottom: 15px;
        }

        p {
            @include font-size(14px);
            line-height: 23px;
            margin-bottom: 15px;
        }

        .rfm-marquee-container {
            overflow-x: visible;
        }

        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 14px);
            height: 40px;
            min-width: auto;
            @include padding(0px, 20px);

            svg {
                margin-left: 10px;
                width: 15px;
            }
        }

    }
}

@include media-query($min: 1300px, $max: 1399px) {
    body {
        .container {
            max-width: 1240px;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 650px;
            }
        }

        .p-100 {
            @include padding(70px, 0px, 0px);
        }

        h1 {
            @include font-size(35px);
            line-height: 45px;
            margin-bottom: 15px;
        }

        h2 {
            @include font-size(30px);
            line-height: 42px;
            margin-bottom: 15px;
        }

        h3 {
            @include font-size(22px);
            line-height: 32px;
            margin-bottom: 10px;

            &.spacing {
                letter-spacing: 10px;
                margin-bottom: 15px;
            }
        }

        h4 {
            @include font-size(25px);
            line-height: 35px;
            margin-bottom: 15px;
        }

        h5 {
            @include font-size(16px);
            line-height: 24px;
            margin-bottom: 15px;
        }

        p {
            @include font-size(14px);
            line-height: 23px;
            margin-bottom: 15px;
        }

        .rfm-marquee-container {
            overflow-x: visible;
        }

        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 14px);
            height: 38px;
            min-width: auto;
            @include padding(0px, 20px);

            svg {
                margin-left: 10px;
                width: 14px;
            }
        }

    }
}

@include media-query($min: 1200px, $max: 1299px) {
    body {
        .container {
            max-width: 1140px;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 650px;
            }
        }

        .p-100 {
            @include padding(60px, 0px, 0px);
        }

        h1 {
            @include font-size(32px);
            line-height: 42px;
            margin-bottom: 10px;
        }

        h2 {
            @include font-size(26px);
            line-height: 40px;
            margin-bottom: 15px;
        }

        h3 {
            @include font-size(20px);
            line-height: 30px;
            margin-bottom: 10px;

            &.spacing {
                letter-spacing: 8px;
                margin-bottom: 10px;
            }
        }

        h4 {
            @include font-size(22px);
            line-height: 32px;
            margin-bottom: 15px;
        }

        h5 {
            @include font-size(15px);
            line-height: 23px;
            margin-bottom: 10px;
        }

        p {
            @include font-size(13px);
            line-height: 22px;
            margin-bottom: 10px;
        }

        .rfm-marquee-container {
            overflow-x: visible;
        }

        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 13px);
            height: 35px;
            min-width: auto;
            @include padding(0px, 20px);

            svg {
                margin-left: 10px;
                width: 13px;
            }
        }

    }
}

@include media-query($min: 1100px, $max: 1199px) {
    body {
        .container {
            max-width: 95%;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 600px;
            }
        }

        .p-100 {
            @include padding(50px, 0px, 0px);
        }

        h1 {
            @include font-size(30px);
            line-height: 40px;
            margin-bottom: 10px;
        }

        h2 {
            @include font-size(24px);
            line-height: 36px;
            margin-bottom: 15px;
        }

        h3 {
            @include font-size(16px);
            line-height: 26px;
            margin-bottom: 10px;

            &.spacing {
                letter-spacing: 5px;
                margin-bottom: 10px;
            }
        }

        h4 {
            @include font-size(20px);
            line-height: 28px;
            margin-bottom: 15px;
        }

        h5 {
            @include font-size(15px);
            line-height: 23px;
            margin-bottom: 10px;
        }

        p {
            @include font-size(13px);
            line-height: 22px;
            margin-bottom: 10px;
        }

        .rfm-marquee-container {
            overflow-x: visible;
        }

        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 12px);
            height: 32px;
            min-width: auto;
            @include padding(0px, 20px);

            svg {
                margin-left: 10px;
                width: 13px;
            }
        }

    }
}

@include media-query($min: 900px, $max: 1099px) {
    body {
        .container {
            max-width: 95%;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 550px;
            }
        }

        .p-100 {
            @include padding(40px, 0px, 0px);
        }

        h1 {
            @include font-size(25px);
            line-height: 35px;
            margin-bottom: 10px;
        }

        h2 {
            @include font-size(24px);
            line-height: 36px;
            margin-bottom: 10px;
        }

        h3 {
            @include font-size(16px);
            line-height: 26px;
            margin-bottom: 10px;

            &.spacing {
                letter-spacing: 5px;
                margin-bottom: 10px;
            }
        }

        h4 {
            @include font-size(20px);
            line-height: 28px;
            margin-bottom: 10px;
        }

        h5 {
            @include font-size(14px);
            line-height: 20px;
            margin-bottom: 10px;
        }

        p {
            @include font-size(12px);
            line-height: 18px;
            margin-bottom: 10px;
        }

        .rfm-marquee-container {
            overflow-x: visible;
        }

        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 12px);
            height: 30px;
            min-width: auto;
            @include padding(0px, 15px);

            svg {
                margin-left: 10px;
                width: 12px;
            }
        }

    }
}

@include media-query($min: 701px, $max: 899px) {
    body {
        .container {
            max-width: 95%;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 550px;
            }
        }

        .p-100 {
            @include padding(40px, 0px, 0px);
        }

        h1 {
            @include font-size(20px);
            line-height: 30px;
            margin-bottom: 10px;
        }

        h2 {
            @include font-size(20px);
            line-height: 30px;
            margin-bottom: 10px;
        }

        h3 {
            @include font-size(15px);
            line-height: 25px;
            margin-bottom: 5px;

            &.spacing {
                letter-spacing: 5px;
                margin-bottom: 10px;
            }
        }

        h4 {
            @include font-size(18px);
            line-height: 26px;
            margin-bottom: 10px;
        }

        h5 {
            @include font-size(14px);
            line-height: 20px;
            margin-bottom: 10px;
        }

        p {
            @include font-size(12px);
            line-height: 18px;
            margin-bottom: 10px;
        }

        .rfm-marquee-container {
            overflow-x: visible;
        }

        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 12px);
            height: 26px;
            min-width: auto;
            @include padding(0px, 10px);

            svg {
                margin-left: 5px;
                width: 10px;
            }
        }

    }
}

@include media-query($min: 577px, $max: 700px) {
    body {
        .navIcon {
            display: flex;
            justify-content: end;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 450px;
            }
        }

        .container {
            max-width: 100%;
        }

        .p-100 {
            @include padding(40px, 0px, 0px);
        }

        h1 {
            @include font-size(30px);
            line-height: 40px;
            margin-bottom: 15px;
        }

        h2 {
            @include font-size(28px);
            line-height: 38px;
            margin-bottom: 15px;
        }

        h3 {
            @include font-size(18px);
            line-height: 28px;
            margin-bottom: 15px;

            &.spacing {
                letter-spacing: 3px;
                margin-bottom: 10px;

            }
        }

        h4 {
            @include font-size(25px);
            line-height: 35px;
            margin-bottom: 10px;
        }

        h5 {
            @include font-size(18px);
            line-height: 26px;
            margin-bottom: 15px;
        }

        p {
            @include font-size(14px);
            line-height: 23px;
            margin-bottom: 15px;
        }


        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 12px);
            height: 30px;
            min-width: auto;
            @include padding(0px, 20px);

            svg {
                margin-left: 5px;
                width: 12px;
            }
        }

    }
}

@include media-query($min: 0px, $max: 576px) {
    body {
        .container {
            max-width: 100%;
        }

        .modal {
            .modal-dialog {
                --bs-modal-width: 95%;
            }
        }

        .navIcon {
            display: flex;
            justify-content: end;
        }

        .p-100 {
            @include padding(40px, 0px, 0px);
        }

        h1 {
            @include font-size(30px);
            line-height: 40px;
            margin-bottom: 15px;
        }

        h2 {
            @include font-size(28px);
            line-height: 38px;
            margin-bottom: 15px;
        }

        h3 {
            @include font-size(18px);
            line-height: 28px;
            margin-bottom: 15px;

            &.spacing {
                letter-spacing: 3px;
                margin-bottom: 10px;

            }
        }

        h4 {
            @include font-size(25px);
            line-height: 35px;
            margin-bottom: 10px;
        }

        h5 {
            @include font-size(18px);
            line-height: 26px;
            margin-bottom: 15px;
        }

        p {
            @include font-size(14px);
            line-height: 23px;
            margin-bottom: 15px;
        }



        a.button,
        div.button {
            @include button($black-color, $white-color, #EBEBEB, 23px, 13px);
            height: 35px;
            min-width: auto;
            @include padding(0px, 20px);

            svg {
                margin-left: 5px;
                width: 12px;
            }
        }

    }
}