$primary-color: #2948FF;
$secondary-color: #FC2030;
$white-color: #ffffff;
$black-color: #000000;
$max-container : 1640px;
$border-color: #707070;
$text-color: #8D8D8D;
$disabled-color :#AAAAAA;


:export {
    primaryColor: $primary-color;
    maxContainer: $max-container;
    whiteColor: $white-color;
    secondaryColor: $secondary-color;
    borderColor: $border-color;
    textColor: $text-color;
    disabledColor: $disabled-color
}

// mixin Of Website
@mixin media-query($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin gradient-background($direction, $colors...) {
    background: linear-gradient($direction, $colors);
}

@mixin padding($top, $right: $top, $bottom: $top, $left: $right) {
    padding: $top $right $bottom $left;
}

@mixin button($bg-color, $text-color, $border-color, $border-radius, $font-size) {
    background: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
    cursor: pointer;
    font-size: $font-size;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    transition: 0.3s;
    font-weight: 500;
    min-width: 190px;
    @include padding(0px, 25px);

    &:hover {
        background-color: $bg-color;
        border: 1px solid $border-color;
        transition: 0.3s;
    }


}

@mixin transition($properties, $duration: 0.3s, $timing-function: ease) {
    transition: $properties $duration $timing-function;
}