@import "../../../../../styles/variables.module.scss";

.mainBanner {
  height: 100vh;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;

  &:after {
    content: "";
    // background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
  }

  .bannerContentBox {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26px) brightness(1.2);
    -webkit-backdrop-filter: blur(26px) brightness(1.2);
    padding: 30px;
    border-radius: 10px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 30px;

      li {
        color: $white-color;
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        font-size: 15px;

        svg {
          margin-right: 10px;
          height: 14px;
          width: 14px;

          circle {
            fill: $secondary-color;
          }
        }
      }
    }

    .bannerRating {
      background-color: rgba(255, 255, 255, 0.24);
      backdrop-filter: blur(26px) brightness(1.2);
      -webkit-backdrop-filter: blur(26px) brightness(1.2);
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 39px;
      color: $white-color;
      @include font-size(18px);
      line-height: normal;
      font-weight: 300;
      @include padding(0px, 20px);
      text-transform: capitalize;
      margin-bottom: 10px;

      svg {
        margin-right: 10px;
        height: 15px;
        width: auto;
      }
    }

    .bannerImg {
      margin: 30px 0px;

      svg {
        width: auto;
        height: 15px;
      }
    }
  }

  .BannerFrom {
    position: relative;
    z-index: 1;
    background: $secondary-color;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    margin-left: auto;

    &::before {
      content: "";
      background-image: url(../../../../../public/lp/explainer-video-animation/formBefore.webp);
      width: 96px;
      height: 136px;
      position: absolute;
      top: 0px;
      left: 10px;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100%;
    }

    .title {
      margin: 0px 0px 40px 90px;
      text-align: center;

      h3 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 30px;
      }

      p {
        font-size: 13px;
        margin-bottom: 0px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 600;

        span {
          background: $black-color;
          font-weight: 600;
          padding: 5px 10px;
          border-radius: 23px;
        }
      }
    }
  }
}

@include media-query($min: 1400px, $max: 1600px) {
  .mainBanner {
    height: 100vh;

    .bannerContentBox {
      top: 40px;

      .bannerRating {
        height: 30px;
        @include font-size(15px);
        @include padding(0px, 20px);
        margin-bottom: 10px;

        svg {
          margin-right: 10px;
          height: 13px;
        }
      }

      .bannerImg {
        margin: 20px 0px 30px;

        img {
          height: 50px;
          width: auto;
        }
      }
    }

    .BannerFrom {
        max-width: 450px;
        padding: 25px;

        &::before {
            background-size: 100%;
        }

        .title {
            margin: 0px 0px 35px 90px;
            text-align: center;

            h3 {
                font-size: 20px;
                line-height: 28px;
            }

            p {
                font-size: 13px;
                line-height: 30px;
                font-weight: 600;

                span {
                    padding: 5px 10px;
                }
            }
        }


    }
  }
}

@include media-query($min: 1300px, $max: 1399px) {
  .mainBanner {
    height: 100vh;

    .bannerContentBox {
      top: 40px;

      .bannerRating {
        height: 30px;
        @include font-size(14px);
        @include padding(0px, 20px);
        margin-bottom: 10px;

        svg {
          margin-right: 10px;
          height: 12px;
          width: auto;
        }
      }

      .bannerImg {
        margin: 20px 0px 30px;

        img {
          height: 50px;
          width: auto;
        }
      }
    }

    .BannerFrom {
        max-width: 450px;
        padding: 25px;

        &::before {
            background-size: 90%;
        }

        .title {
            margin: 0px 0px 35px 90px;
            text-align: center;

            h3 {
                font-size: 20px;
                line-height: 28px;
            }

            p {
                font-size: 13px;
                line-height: 30px;
                font-weight: 600;

                span {
                    padding: 5px 10px;
                }
            }
        }


    }
  }
}

@include media-query($min: 1200px, $max: 1299px) {
  .mainBanner {
    height: 100vh;
    padding-top: 80px;

    .bannerContentBox {
      top: 40px;

      .bannerRating {
        height: 30px;
        @include font-size(14px);
        @include padding(0px, 15px);
        margin-bottom: 10px;

        svg {
          margin-right: 10px;
          height: 10px;
        }
      }

      .bannerImg {
        margin: 25px 0px;

        img {
          height: 45px;
          width: auto;
        }
      }
    }

    .BannerFrom {
        max-width: 400px;
        padding: 25px;

        &::before {
            background-size: 80%;
        }

        .title {
            margin: 0px 0px 35px 80px;
            text-align: center;

            h3 {
                font-size: 18px;
                line-height: 28px;
            }

            p {
                font-size: 12px;
                line-height: 28px;
                font-weight: 600;

                span {
                    padding: 5px 10px;
                }
            }
        }


    }
  }
}

@include media-query($min: 1100px, $max: 1199px) {
  .mainBanner {
    height: 100vh;
    padding-top: 60px;
    .bannerContentBox {
      top: 30px;

      .bannerRating {
        height: 30px;
        @include font-size(13px);
        @include padding(0px, 15px);
        margin-bottom: 10px;

        svg {
          margin-right: 10px;
          height: 10px;
        }
      }

      .bannerImg {
        margin: 25px 0px;

        img {
          height: 45px;
          width: auto;
        }
      }
    }

    .BannerFrom {
      max-width: 400px;
      padding: 25px;

      &::before {
        background-size: 80%;
      }

      .title {
        margin: 0px 0px 35px 80px;
        text-align: center;

        h3 {
          font-size: 18px;
          line-height: 28px;
        }

        p {
          font-size: 12px;
          line-height: 28px;
          font-weight: 600;

          span {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

@include media-query($min: 900px, $max: 1099px) {
  .mainBanner {
    height: 100vh;
    padding-top: 60px;

    .bannerContentBox {
      top: 20px;

      .bannerRating {
        height: 25px;
        @include font-size(12px);
        @include padding(0px, 12px);
        margin-bottom: 10px;

        svg {
          margin-right: 5px;
          height: 8px;
        }
      }

      .bannerImg {
        margin: 10px 0px 20px;

        img {
          height: 40px;
          width: auto;
        }
      }
    }
    .BannerFrom {
      max-width: 400px;
      padding: 25px;

      &::before {
        background-size: 80%;
      }

      .title {
        margin: 0px 0px 35px 80px;
        text-align: center;

        h3 {
          font-size: 18px;
          line-height: 28px;
        }

        p {
          font-size: 12px;
          line-height: 28px;
          font-weight: 600;

          span {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

@include media-query($min: 701px, $max: 899px) {
  .mainBanner {
    height: 100vh;
    padding-top: 60px;

    .bannerContentBox {
      top: 20px;

      .bannerRating {
        height: 25px;
        @include font-size(12px);
        @include padding(0px, 12px);
        margin-bottom: 10px;

        svg {
          margin-right: 5px;
          height: 8px;
        }
      }

      .bannerImg {
        margin: 10px 0px 20px;

        img {
          height: 40px;
          width: auto;
        }
      }
    }

    .BannerFrom {
      max-width: 400px;
      padding: 15px;

      &::before {
        display: none;
      }

      .title {
        margin: 0px 0px 20px 0px;
        text-align: center;

        h3 {
          font-size: 18px;
          line-height: 28px;
        }

        p {
          font-size: 12px;
          line-height: 28px;
          font-weight: 600;

          span {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

@include media-query($min: 577px, $max: 700px) {
  .mainBanner {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 20px;

    .bannerContentBox {
      top: 0px;
      padding: 15px;

      .bannerRating {
        height: 35px;
        @include font-size(14px);
        @include padding(0px, 10px);
        margin-bottom: 10px;

        svg {
          margin-right: 8px;
          height: 12px;
        }
      }

      .bannerImg {
        margin: 20px 0px;
      }
    }

    .BannerFrom {
      max-width: 400px;
      padding: 25px;
      margin: 20px auto;

      &::before {
        background-size: 90%;
      }

      .title {
        margin: 0px 0px 30px 80px;
        text-align: center;

        h3 {
          font-size: 18px;
          line-height: 28px;
        }

        p {
          font-size: 12px;
          line-height: 28px;
          font-weight: 600;

          span {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

@include media-query($min: 0px, $max: 576px) {
  .mainBanner {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 20px;

    .bannerContentBox {
      top: 0px;
      padding: 10px;

      .bannerRating {
        height: 35px;
        @include font-size(13px);
        @include padding(0px, 10px);
        margin-bottom: 10px;

        svg {
          margin-right: 5px;
          height: 10px;
        }
      }

      .bannerImg {
        margin: 20px 0px;
      }
    }

    .BannerFrom {
      max-width: 320px;
      padding: 25px;
      margin: 20px auto;

      &::before {
        display: none;
      }

      .title {
        margin: 0px 0px 10px 0px;
        text-align: center;

        h3 {
          font-size: 18px;
          line-height: 28px;
        }

        p {
          font-size: 12px;
          line-height: 28px;
          font-weight: 600;

          span {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
